html,
body {
    display: flex;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
}

form {
    border: 5px solid #f1f1f1;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.icon {
    font-size: 110px;
    display: flex;
    justify-content: center;
    color: #4286f4;
}

button {
    background-color: #4286f4;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grab;
    width: 48%;
}

h1 {
    text-align: center;
    fone-size: 18;
}

button:hover {
    opacity: 0.8;
}

.formcontainer {
    text-align: center;
    margin: 24px 50px 12px;
}

.container {
    padding: 16px 0;
    text-align: left;
}

span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 20%;
  right: 30%;
  left: 30%;
  background-color: rgb(134, 205, 233);
  border-radius: 15px;
}

.toggle { width: 100%; height: 0; }
.toggle {
  -webkit-transition: .3s;
  transition: .3s;
}
.toggle.active { height: 100px; }
.toggle.inactive{ height: 0px;}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  th,
  td {
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }
  /* Mise en forme des résultats */
  .result {
    background-color: black;
    color: white;
  }
  /* Mise en forme des logos des équipes */
  .logoB {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    margin-left: 8px;
    float: left;
  }
  .logoA {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    margin-left: 8px;
    float: Right;
  }

.equipe{
    font-size: large;
}

.date{
    font-size: medium;
    margin-left: 5%;
}

.link:hover{
    background-color: aqua;
    cursor: help;}

    .retour{
        
    }
