<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title>Résultats</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="title mb-3">
            <h2><strong>Résultats par compétitions</strong></h2>

        </div>
        <div data-th-each="championnatMap : ${allChampionnatsMap}">

            <div class="bar bg-light mb-1" style="height: 12px;"></div>
            <div class="subtitle mb-2 text-muted">
                <h5>
                    <span data-th-text="${championnatMap.key}"></span>
                </h5>
            </div>
            <div class="bar-thin bg-light mb-2" style="height: 2px;"></div>
            <div class="rowLigues d-flex justify-content-between mt-2 col-9"  data-th-each="championnat : ${championnatMap.value}">
                <div class="Ligue row">
                    <a data-th-href="@{/championnat/{id}/resultatsListe(id=${championnat.id})}">

                        <div class="col-3 d-flex align-items-center justify-content-end">
                            <img src="images/flagFrance.png" data-th-src="@{/img/{logo}(logo=${championnat.logo})}" alt="franceFlag" style="width:30px;height:30px">

                        </div>
                        <div class="col-12 d-flex justify-content-end text-secondary" data-th-text="${championnat.nom}"></div>
                    </a>

                </div>
            </div>



        </div>



    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
